/* .container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: row;
gap: 20px;
}

.container h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.container section {
  margin-bottom: 30px;
}

.container h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.tiles{
  margin-left: -8px;
  margin-top: 10px;
  display: flex;
}

.container form {
  margin-top: 10px;
}

.container label {
  margin-left: -3px;
  padding: 10px;
  display: block;
  margin-bottom: 5px;
}

.tiles h4{
  margin-left: 8px;
}

.container input[type="text"],
.container input[type="date"] {
  width: 80%;
  padding: 8px;
  font-size: 16px;
  
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Responsive Styles */
/*
@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .container h1 {
    font-size: 20px;
  }

  .container h2 {
    font-size: 18px;
  }

  .container input[type="date"],
  .container input[type="text"] {
    font-size: 14px;
  }
} */


.container{
  margin: 0;
  padding: 20px;
}

.accordion{
  border-radius: 15px;
  display: block;
  margin: 30px;
  cursor: pointer;
  background-color: #001f61ca;
}

.accordionItem{
  padding: 15px 0;
}

.accordionContent{
  display: flex;
  padding: 30px 0;
  padding-left: 50px;
  gap: 20px;
  background-color: white;
}

.accordionTitle{
  margin: 0 10px;
  padding: 10px;
  color: white;
  font-weight: 600;
}

.accordion input{
  width: fit-content;
  font-size: 14px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 2px;
  margin: 10px 0;
}

.accordion label{
  margin: 5px;
}