
.container {
    background: linear-gradient(-120deg, #007bff, #d0314c);
    color: white;
    font-weight: 500;
    display: flex;
    gap: auto;
    align-items: center;
    margin-top: 0;
    justify-content: space-between;
    
  }
  .container button{
    margin: 10px; 
              background-color: white; 
              color:black; 
              border: none; 
              border-radius: 10px; 
              cursor: pointer;
              font-size: 16px;
              /* align-items: flex-end; */
              width: 100px;
              height: 40px;
  }

.menuItem{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  padding: 0 30px;
}
  
  
  
  