.mainContainer{
    margin: 0;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.topBar{
    padding: 20px;
    background-color: #35665b;
	color: var(--text);
}


.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.table {
	width: 1500px;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.table th,
.table td {
	padding: 20px;
	background-color: var(--primary);
	color: #fff;
}

.table th {
	text-align: left;
}

/* .table thead {
	th {
		background-color: #55608f;
	}
} */
/* 
	td {
		position: relative;
		&:hover {
			&:before {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: -9999px;
				bottom: -9999px;
				background-color: rgba(255,255,255,0.2);
				z-index: -1;
			}
		}
	}
} */

.button {
    padding: 10px 20px;
    background-color: white;
    border: none;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover{
	background-color: #d3d3d3;
}

/* table.module.css */
.link {
	color: blue;
	text-decoration: underline;
	cursor: pointer;
  }

  @media (max-width: 768px) {
    .table {
      max-width: 500px;
    }
  }
  